*.swp
*.swo
*.so
*.m~
*.py~
*.pyc
*.csv
*.o
*.mexa64
*.mexmaci64
*.cpp~
.DS_Store
*.tikz

src/Ccode/wrapper_python/build/*
src/Ccode/wrapper_python/GLFM.cpp

src/Ccode/wrapper_python_old/build/*
src/Ccode/wrapper_python_old/GLFM.cpp

demos/python/.ipynb_checkpoints/*
simulations/results/*
datasets/*
